<div class="main">
    <h2>Items</h2>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('clothes')"> Clothes</button>
        <button class="btn" onclick="filterSelection('bedroomsets')"> BedroomSets</button>
        <button class="btn" onclick="filterSelection('assessories')"> Assessories</button>
    </div>
    <div class="row">
        <div class="column">
            <div class="content">
                <img src="https://i.pinimg.com/236x/4b/35/39/4b353925e37f78b160a72161bb87154b.jpg" styel="width:100%">
                <h4>Summer Collection</h4>
                <p>Enjoy the sun</p>
            </div>
        </div>
        <div class="column">
            <div class="content">

                <img src="https://i.pinimg.com/236x/13/02/c2/1302c2e7bde3e73baf3fb45a68174663.jpg" styel="width:100%">
                <!-- <h4>Winter Collection</h4>
                <p>Be warm </p> -->
            </div>
        </div>
        <div class=" column">
            <div class="content">
                <img src="https://i.pinimg.com/236x/e5/ef/ca/e5efcae0597989f2affe540ff7e3e0c6.jpg" styel="width:100%">
                <!-- <h4>Spring Collection</h4>
                <p>Smell the roses</p> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column bedroomsets">
            <div class="content">

                <img src="https://i.pinimg.com/236x/61/55/62/6155627111504f5ea10a276165c6230d.jpg" styel="width:100%">
                <h4></h4>
                <p>

                </p>
            </div>
        </div>
        <div class="column bedroomsets">
            <div class="content">

                <img src="https://i.pinimg.com/236x/06/1a/5c/061a5c5fae54815db9ea874fe52004bb.jpg" styel="width:100%">
                <h4></h4>
                <p>

                </p>
            </div>
        </div>
        <div class="column bedroomsets">
            <div class="content">

                <img src="https://i.pinimg.com/236x/cb/79/8f/cb798f3b442ff6c551c6c3b7bb298506.jpg" styel="width:100%">
                <h4></h4>
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column assessories">
            <div class="content">

                <img src="https://i.pinimg.com/236x/44/fd/60/44fd60a15f366e7dd2038a3fbdebb0fe.jpg" styel="width:100%">
                <h4></h4>
                <p>

                </p>
            </div>
        </div>
        <div class="column assessories">
            <div class="content">

                <img src="https://i.pinimg.com/236x/75/25/ba/7525ba4e317ee8a93fc03bf7906313bb.jpg" styel="width:100%">
                <h4></h4>
                <p>

                </p>
            </div>
        </div>
        <div class="column assessories">
            <div class="content">

                <img src="https://i.pinimg.com/236x/a9/08/07/a90807da9384b0c852665ecc51d324f8.jpg" styel="width:100%">
                <h4></h4>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>